######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 38004876590.559
RunRange : "All"
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19720882329.338, 16146177653.168}
######## Decay Mode #######
Channel: "dimuon"

######## DATA or MC Sample ########
File : "TTbar_signal"
### Name list :: TTbar_signal, WJetsToLNu,  DYJetsToLL_M_50, T_tW-channel, Tbar_tW-channel, TTWJets, TTZJets### 
### DATA Name list :: DiMuonDataA, DiMuonDataB, DiMuonDataC, DiMuonDataD ### 

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######
TotalEvent : { 154948894    , 86731806  , 99831562,           119517808,       6952830     , 6933094        , 7981136,  3995828,1988098, 2716249,         430310,    6488085,        351164,     86731806, 40074830, 40627924, 38815054  ,57566905  }

#TotalEvent : { 154948894    , 86731806  , 51885043           , 81781064        , 6952830     , 6933094        , 7981136,  3995828,1988098, 2716249,         430310,    6488085,        351164,     86731806,  57566905  }
##Tot.EVT      TTJets      , WJetsToLNu, DYJetsToLL_M_10To50, DYJetsToLL_M_50 , T_tW-channel, Tbar_tW-channel, WW       ,   WZ  , ZZ    , TTbar_WJetToLNu, TTbar_WQQ, TTbar_ZToLLNuNu,TTbar_ZQQ,  WJetsMad,  Data 

TTJets_Sys :{ 152617579, 155991586, 156469815, 149762990, 58953660, 58338240, 29412687, 9885256, 58858606, 58163976,  56168970,               59037234,          29983790, 29943330 }
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
####### PileUp File #######
PileUpMCFileName : "MC_Moriond.root"
PileUpDATAFileName : "PU_2016_69p2_36000_XSecCentral.root"
PileUpUpFileName : "PU_2016_69p2_36000_XSecUp.root"
PileUpDownFileName : "PU_2016_69p2_36000_XSecDown.root"

####### Trigger requirement #######
DiMuon_num_trigger : 2
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v" }
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Iso_Mu24_v", "HLT_IsoTkMu24_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v"}
#trigger : {"HLT_Iso_Mu24_v", "HLT_IsoTkMu24_v"}
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_IsoMu24_v", "HLT_IsoTkMu24_v"}

trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_IsoMu24_v", "HLT_IsoTkMu24_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}


#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v"}
###trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v" }

######## Lepton requirement #######
Lep_ID : "Tight"
Lep_pt : 20.0
Lep_eta : 2.4
Iso_type : "PFIsodbeta04"
Iso_cut : 0.15

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
Jet_ID : "PFLoose"
Jet_btag : "pfCSVV2M"
################## CSVL , CSVM , CSMT #################

####### MET requirement #######
MET_cut : 40.0


####### Jet Cleaning requirement #######

### case of Muon ###
Mupt_for_Jetcleanning : 20.0
Mueta_for_Jetcleanning : 2.4
Muid_for_Jetcleanning : "Loose"
Muiso_for_Jetcleanning : "PFIsodbeta04"
Muisocut_for_Jetcleanning : 0.25

### case of Electron ###
Elpt_for_Jetcleanning : 20.0
Eleta_for_Jetcleanning : 2.5
Elid_for_Jetcleanning : "Veto"
Elidcut_for_Jetcleanning : {0.0, 1.0}
Eliso_for_Jetcleanning : "PFIsoRho03"
Elisocut_for_Jetcleanning : 0.175

### Lepton Scale Factor ###
MuonIDFile : "MuonIDEfficienciesAndSF_BCDEF.root"
MuonIDFiles : {"MuonIDEfficienciesAndSF_BCDEF.root","MuonIDEfficienciesAndSF_GH.root"}
MuonIsoFile : "MuonIsoEfficienciesAndSF_BCDEF.root"
TrackEffFile : "Tracking_EfficienciesAndSF_BCDEFGH.root"
MuonIsoFiles : {"MuonIsoEfficienciesAndSF_BCDEF.root","MuonIsoEfficienciesAndSF_GH.root"}
ElectronIDFile : "Electron_CutBased_Medium.root"
ElectronRecoFile : "Electron_RecoSF.root"

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
TrigSFFile : "triggerSummary_mumu.root"

### BTagging Scale Factor csv file ###
BTaggingCSVFile : "CSVv2_Moriond17_B_H.csv"
BTaggingCSVFiles : {"CSVv2_Moriond17_B_F.csv","CSVv2_Moriond17_G_H.csv"}

### Do JER ??
DoJER : "true"
#DoJER : "false"

### Systematics Study All-in-one ###
isAllSys : "False"
#isAllSys : "True"
#Allsys : {"Central","LepID","LepIso","PileUp","JetEn","BTagSF","BTagEff","LepReco","LepTrack","FactReno","TrigSF","JetRes"}
#Allsys : {"FactReno"}
Allsys : {"Central","LepID","LepIso","PileUp","JetEn","BTagSF","BTagEff","TrigSF","JetRes","FactReno","Fragment","DecayTable","TopPt","LepReco","LepTrack"}

### Systematic Requirement ###
Trigsys : "central"
### central , up ,down
#MuEnsys : "central"
MuEnsys : "central"
### none, central , up , down, CorDmSys, FitDmSys###
EleScSmsys : "UpUp"
### Central , UpUp , UpDown, DownUp, DownDown ###
JESsys : "JetEnNorm"
### JetEnNorm , JetEnShiftedUp ,JetEnShiftedDown
JERsys : "JetResNorm"
### JetResNorm , JetResShiftedUp , JetResShiftedDown
BtaggingSFSys : "central"
BtaggingEffSys : "central"
METsys : "Up"
### MET Sys : Up ,Down
## central ,up,down  
LepIDSFSys : "central"
LepIsoSFSys : "central"
LepRecoSFSys : "central"
LepTrackSFSys : "central"
PileUpSys : "central"
## central ,up,down
L1PreFireSys : "central"
## central ,up,down, none##
TopPtSys : "None"
## "None,Apply"
FragmentSys : "nominal"
## nominal,central ,up,down,peterson
DecayTableSys : "central"
## central ,up,down
PDFSys : 0
# 0 : Central , Odd Num is Up, Even Num is Down.
FactRenoSys :0 
# 0 : Central , 1 : ,2: , 3: 4: 5 : 6 : 7 : 8: 9:
##### Dilution Study ####
JPRDilu : "None"
### None , Up , Down ### 
JPhiRDilu : "None"
### None , Up , Down ### 
bAndBDilu : "false"
### "true" "false" ### 
