######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 1

######## Decay Mode #######
Channel: "dielec"

######## DATA or MC Sample ########
File : "TTbar_signal"
### Name list :: TTbar_signal, WJetsToLNu,  DYJetsToLL_M_50, T_tW-channel, Tbar_tW-channel, TTWJets, TTZJets### 
### DATA Name list :: DiMuonDataA, DiMuonDataB, DiMuonDataC, DiMuonDataD ### 

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "False"
########### false or true #######

TotalEvent : { 10000000    , 7102223            , 29939503        , 10100329         , 30184471         , 497658      , 493460         , 9960431  , 9990283 , 8289908 , 57566905  , 110568313 }
###########    TTbar_signal, DYJetsToLL_M_10To50, DYJetsToLL_M_50 , TTJets_HadronicMG, TTJets_SemiLeptMG, T_tW-channel, Tbar_tW-channel, WW       ,   WZ    ,  ZZ     , WJetsToLNu, Data ##########

######## Lepton requirement #######
Lep_ID : "Tight"
Lep_pt : 20.0
Lep_eta : 2.4
Iso_type : "PFIsodbeta04"
Iso_cut : 0.12

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
Jet_ID : "PFLoose"
Jet_btag : "CISVL"
################## CSVL , CSVM , CSMT #################

####### MET requirement #######
MET_cut : 40.0

####### Trigger requirement #######
DiMuon_num_trigger : 2
trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v" }
###trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v" }

####### Jet Cleaning requirement #######

### case of Muon ###
Mupt_for_Jetcleanning : 20.0
Mueta_for_Jetcleanning : 2.4
Muid_for_Jetcleanning : "Loose"
Muiso_for_Jetcleanning : "PFIsodbeta04"
Muisocut_for_Jetcleanning : 0.2

### case of Electron ###
Elpt_for_Jetcleanning : 20.0
Eleta_for_Jetcleanning : 2.5
Elid_for_Jetcleanning : "mvaTrigV0"
Elidcut_for_Jetcleanning : {0.0, 1.0}
Eliso_for_Jetcleanning : "PFIsodbeta03"
Elisocut_for_Jetcleanning : 0.116708

