
//////// Decay Mode ///////
Channel: "muel"

//////// DATA or MC Sample ////////
File : "T_tW-channel"
/// Name list :: TTbar_signal, DYJetsToLL_M_10To50, DYJetsToLL_M_50, TTJets_HadronicMG,TTJets_SemiLeptMG, T_tW-channel, Tbar_tW-channel, WW, WZ,ZZ,  WJetsToLNu /// 
/// DATA Name list :: DiMuonDataA, DiMuonDataB, DiMuonDataC, DiMuonDataD /// 

//////// Total Number of Event for Each Sample //////
UsingTotalEvent : "True"
/////////// false or true ///////

TotalEvent : { 11981428    , 7102223            , 29939503        , 10100329         , 30184471         , 497658      , 493460         , 9960431  , 9990283 , 8289908 , 57566905  , 110568313 }
///////////    TTbar_signal, DYJetsToLL_M_10To50, DYJetsToLL_M_50 , TTJets_HadronicMG, TTJets_SemiLeptMG, T_tW-channel, Tbar_tW-channel, WW       ,   WZ    ,  ZZ     , WJetsToLNu, Data //////////


///////////////////////////////////
//////// Lepton requirement ///////
///////////////////////////////////

//// Muon requirement ////
Muon_ID      : "Loose" 
Muon_pt      : 20.0
Muon_eta     : 2.4
MuonIso_type : "PFIsodbeta03"
MuonIso_cut  : 0.15

//// Electron requirement ////
Elec_ID      : "mvaTrigV0"
Elec_ID_cut  : {0.5}
Elec_pt      : 20.0
Elec_eta     : 2.5
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.15


///////////////////////////////
/////// Jet requirement ///////
///////////////////////////////

Jet_pt  : 30.0
Jet_eta : 2.5
Jet_ID  : "PFLoose"
Jet_btag : "CSVL"
////////////////// csvl , csvm, csvt /////////////////

/////// MET requirement ///////
MET_cut : 40.0

/////// Trigger requirement ///////
trigger : {"HLT_Mu17_Ele8_CaloIdT_CaloIsoVL_TrkIdVL_TrkIsoVL_v","HLT_Mu8_Ele17_CaloIdT_CaloIsoVL_TrkIdVL_TrkIsoVL_v"}

/////// Jet Cleaning requirement ///////

/// case of Muon ///
Mupt_for_Jetcleanning : 20.0
Mueta_for_Jetcleanning : 2.4
Muid_for_Jetcleanning : "Loose"
Muiso_for_Jetcleanning : "PFIsodbeta04"
Muisocut_for_Jetcleanning : 0.12

/// case of Electron ///
Elpt_for_Jetcleanning : 20.0
Eleta_for_Jetcleanning : 2.5
Elid_for_Jetcleanning : "mvaTrigV0"
Elidcut_for_Jetcleanning : {0.0, 1.0}
Eliso_for_Jetcleanning : "PFIsoRho03"
Elisocut_for_Jetcleanning : 0.15

